{
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxBracketSameLine": false,
  "printWidth": 80,
  "bracketSameLine": true,
  "htmlWhitespaceSensitivity": "ignore",
  "singleAttributePerLine": true,
  "jsxSingleQuote": false
}